* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Manrope', serif;
}

body {
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
}
