* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Manrope', serif;
}

body {
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
  text-align: center;
}

@media (min-width: 768px) {
  body {
    justify-content: center;
  }
}
